
<header>
  <div class="num-correo container">
    <div class="divNum">
      <a href="+57 300 123 4567" target="_blank" style="color: white;" title="telefono"><i class="fas fa-phone"></i></a>
      <span class="numCorreo">+57 300 123 4567</span>
    </div>
    <div class="divcorreo">
      <a href="mail:info@piedraazul.com" target="_blank" style="color: white;" title="correo"><i class="fas fa-envelope"></i></a>
      <span class="numCorreo"> info@piedraazul.com</span>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg " id="barraHorizontal">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#" style="color: #1D4ED8;"><i class="fas fa-hospital me-2"></i>
        <div>
          <div class="fw-bold text-dark">Piedra Azul</div>
          <div class="text-muted text-extra-small mt-0 txtRedServiciosNavBar" style="font-size: small;">Red de Servicios</div>
        </div>
      </a>
      <div class="container-fluid d-flex justify-content-end">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#seccion1">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#seccion2">Equipo Médico</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#seccion3">Registrarse</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container py-3 mt-4">
    <div class="row align-items-center gx-5">
      <div  class="col-12 col-md-5">
        <h1> <b> Cuidamos tu salud con excelencia y dedicación </b> </h1>
        <p class="lead">Red de servicios Piedra Azul ofrece atención integral con profesionales calificados, medicina alternativa y servicios para todos los pacientes.</p>
        <div class="d-flex flex-md-row flex-column gap-3 mt-5 ">
          <button class="btn btn-light botonAgendar" routerLink="/agendar"><b>Agendar cita  <i class="fas fa-arrow-right"></i></b></button>
          <button class="btn btn-outline-light  botonConoceMedicos"><b>Conoce medicos</b></button>
        </div>
      </div>
      <div class="col-12 col-md-7 ">
        <!-- Carrusel -->
        <div id="carouselLugar" class="carousel slide mb-4 rounded-4 overflow-hidden" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/casa_piedra_azul - copia.png" class="d-block w-100" alt="Promo 1">
            </div>
            <div class="carousel-item">
              <img src="images/TERAPIA NEURAL.png" class="d-block w-100" alt="Promo 2">
            </div>
            <div class="carousel-item">
              <img src="images/ACUPUNTURA 2.png" class="d-block w-100" alt="Promo 3">
            </div>
          </div>

          <!-- Controles del carrusel -->
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselLugar" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carouselLugar" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
