<div class="flex flex-wrap gap-4 items-end bg-white p-4 rounded-xl shadow-sm border border-slate-100">
  
  <div class="flex-1 min-w-[240px]">
    <label class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-1 block">Especialista</label>
    <div class="relative group"> <span class="material-symbols-outlined absolute left-3 top-1/2 -translate-y-1/2 text-slate-400 text-[18px] z-10 group-focus-within:text-blue-500 transition-colors">
    medical_services
  </span>
  
  <select [(ngModel)]="especialistaId" 
    class="w-full bg-slate-50 border border-slate-200 rounded-lg py-2.5 pl-10 pr-10 text-sm focus:ring-4 focus:ring-blue-500/10 focus:border-blue-500 transition-all outline-none text-slate-700 font-bold appearance-none cursor-pointer">
    <option value="" disabled selected>Seleccione un médico...</option>
    @for (esp of especialistas; track esp.id) {
      <option [value]="esp.id" class="py-2">
        Dr. {{ esp.nombres }} {{ esp.apellidos }} - {{ esp.especialidad }}
      </option>
    }
  </select>

      <span class="material-symbols-outlined absolute right-3 top-1/2 -translate-y-1/2 text-slate-400 text-[18px] pointer-events-none">expand_more</span>
    </div>
  </div>

  <div class="flex-1 min-w-[200px]">
    <label class="text-[10px] font-black text-slate-400 uppercase tracking-widest mb-1 block">Fecha</label>
    <div class="relative">
      <input type="date" [(ngModel)]="fecha" 
        class="w-full bg-slate-50 border border-slate-200 rounded-lg py-2.5 px-4 text-sm focus:ring-2 focus:ring-blue-500/20 focus:border-blue-500 transition-all outline-none text-slate-700 font-medium cursor-pointer" />
    </div>
  </div>

  <button (click)="buscarCitas()" [disabled]="!especialistaId || !fecha"
    class="flex items-center gap-2 h-[42px] px-6 bg-blue-600 text-white font-bold text-sm rounded-lg hover:bg-blue-700 transition-all shadow-md shadow-blue-600/20 active:scale-95 disabled:opacity-50 disabled:cursor-not-allowed">
    <span class="material-symbols-outlined text-[18px]">search</span>
    Buscar
  </button>

</div>